{% if section.settings.image_bg != blank %}
  <style>
    .mivi-skincare-section {
      background-image: url('{{ section.settings.image_bg | img_url: 'master' }}');
      background-size: cover;
      background-position: center;
    }
  </style>
{% endif %}

<section class="mivi-skincare-section py-5" style="background-color: {{ section.settings.bg_color }};">
  <div class="container">
    <div class="row align-items-center">
      <!-- Imagen -->
      <div class="col-md-6 mb-4 mb-md-0 text-center">
        {{ section.settings.image | image_url: height: section.settings.height_image | image_tag: class: 'img-fluid' }}
      </div>

      <!-- Texto con íconos -->
      <div class="col-md-6">
        <{{section.settings.typeHeader}} >{{ section.settings.heading }}</{{section.settings.typeHeader}}>
        <ul class="list-unstyled">
          {% for block in section.blocks %}
            <li class="mb-4 d-flex">
              {% if block.settings.icon %}
                {{ block.settings.icon | image_url: width: block.settings.height_icon | image_tag: class: 'mr-3 img-fluid' }}
              {% endif %}
              <p class="mb-10">{{ block.settings.text }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Mivi Medical Skincare",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Imagen de fondo"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Color de fondo",
      "default": "#fff3f0"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen principal"
    },
    {
        "type": "range",
        "id": "height_image",
        "label": "Altura de imagen",   
        "default": 500,
        "min": 0,      
        "max": 1000,
        "step": 100
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Título principal",
      "default": "¿Por qué elegir Mivi Medical Skincare?"
    },
    {
        "type": "select",
        "id": "typeHeader",
        "label": "Tipo de encabezado",
        "default": "h3",
        "options": [
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          }
        ]
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Característica",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícono"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto",
          "default": "Texto de la característica"
        },
        {
            "type": "range",
            "id": "height_icon",
            "label": "Altura del ícono (px)",   
            "default": 64,
            "min": 0,      
            "max": 150,
            "step": 2
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Mivi Skincare - Lista con imagen",
      "category": "Secciones personalizadas",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "text": "Fórmulas cuidadosamente desarrolladas para mejorar visiblemente la piel."
          }
        },
        {
          "type": "feature",
          "settings": {
            "text": "Aptos para todo tipo de piel, incluso las más sensibles."
          }
        },
        {
          "type": "feature",
          "settings": {
            "text": "Texturas ligeras, efectivas y sin fragancias agresivas."
          }
        },
        {
          "type": "feature",
          "settings": {
            "text": "Usuarios notan mejoras en pocas semanas. *Resultados pueden variar según el tipo de piel."
          }
        }
      ]
    }
  ]
}
{% endschema %}
